@import "../../../styles.scss";

.newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;

  .sectionTitle {
    text-align: left;
    margin-top: 2.5rem;
    color: $btn-color;
  }

  .cardsContainer {
    padding: 1rem;
    border: 0;
    border-radius: 0;
    border-bottom: 2.5px solid $toolbar-color;
    .cardTitle {
      font-weight: 500;
    }
    .cardSubtitle {
      padding-top: 0.5rem;
      padding-left: 0.35rem;
    }
    .actionContainer {
      display: flex;
      justify-content: flex-end;
      .postDate {
        display: flex;
        font-size: 12px;
        color: $btn-color;
        padding-right: 3rem;
        .clock {
          margin-right: 8px;
        }
      }
    }
  }
  .btn{
    margin-top: 2rem;
  }
  h3{
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: $btn-color;
  }
}

@media (min-width: 900px) {
  .cardsContainer,
  .sectionTitle {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .cardsContainer,
  .sectionTitle {
    min-width: 300px;
    max-width: 430px;
    width: 90%;
  }
}
