<div class="newsContainer">
  <h2 class="sectionTitle">{{title}}</h2>

  <mat-card class="cardsContainer" appearance="outlined">
    <mat-card-header>
      <mat-card-title> Australian Shepherd</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="actionContainer">
      <span class="postDate"
        ><mat-icon class="clock">query_builder</mat-icon>Out 27, 2019</span
      >
      <button mat-button>Read More</button>
    </mat-card-actions>
  </mat-card>
</div>
